@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

body {
    font-family: Arial, sans-serif;
    max-width: 100%;
    overflow-x: hidden;
}


nav {
    width: 100%;
    height: 60px;
    background: #344051;
    position: fixed;
    z-index: 10;

}

.white-btn {
    color: white;
    border-color: coral;
}

.logo {
    font-family: Montserrat, Arial, sans-serif;
    color: white;
    font-size: 21px;
    line-height: 60px;
}

.menu {
    float: left;
    font-family: Montserrat, Arial, sans-serif;

}

.menu li {
    float: left;
    color: #fff;
    font-size: 14px;
    line-height: 60px;
    text-transform: uppercase;
    margin-right: 34px;

}

.menu li a {
    text-decoration: none;
}

.menu li a:visited {
    color: #fff;
}

.menu li a:hover {
    color: #e88604;
}

.main {
    width: 100%;
    height: 100vh;
    background: url(../img/boy.png) 90% 100%/auto 85% no-repeat, url(../img/bc.jpg) center/cover no-repeat;

}

.title__container {
    color: #2c384a;
    text-align: center;
    width: 100%;
    font-family: Montserrat, Arial, sans-serif;


}

.title__container h1 {
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}

.title__container h4 {
    text-align: center;
    margin-top: 30px;
    color: #79818d;
    font-size: 20px;
}


.title__container input {
    width: 100px;
    border: 1px solid #6d7682;
    height: 37px;
    border-radius: 7px;
    background: none;
    text-align: center;
    color: #6d7682;
    font-size: 13px;
    cursor: pointer;
    margin: 50px 14px 0 14px;
}

@media (max-width: 991px) {

    .title__container,
    .title__container h4,
    .title__container input {
        color: white;
        border-color: white;
        position: relative;
        z-index: 3;
    }

    .main {
        position: relative;

    }

    .main::after {
        content: "";
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        position: absolute;
        background: rgba(0, 0, 0, 0.4);
        z-index: 1;
    }
}

.about_me_container h2 {
    font-family: Montserrat, Arial, sans-serif;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 110px;
    text-transform: uppercase;

}

.about_me_container hr {
    height: 4px;
    border: none;
    background: #d17700;
    width: 80px;
    margin: 0 auto 60px;
    opacity: 1;

}

.about_me_container img {
    display: block;
    margin: 0 auto;
}

.firstText {
    text-align: center;
    font-family: Montserrat, Arial, sans-serif;
    color: #3f495a;
    font-size: 17px;
    margin-top: 20px;
}

.secondText {
    text-align: center;
    font-family: Montserrat, Arial, sans-serif;
    color: #3f495a;
    font-size: 17px;
    margin-top: 42px;
}

.about_me_container a {
    font-family: Montserrat, Arial, sans-serif;
    display: block;
    width: 170px;
    height: 33px;
    text-align: center;
    border: 1px solid black;
    border-radius: 8px;
    line-height: 30px;
    margin: 40px auto 0;
    font-size: 16px;
    background: url(../img/input.png) 6%/auto no-repeat;
    padding-left: 18px;
    color: black;
    text-decoration: none;
}

.about_me_container {
    padding-bottom: 100px;

}

.skills {
    background: url(../img/doing.png) center/cover no-repeat;
    width: 100%;
    background-attachment: fixed;
    font-family: Montserrat, Arial, sans-serif;


}

.skills_container h2 {
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 70px;
}

.skills_container hr {
    height: 4px;
    border: none;
    background: #d17700;
    width: 80px;
    margin: 0 auto 60px;
    opacity: 1;

}

.skills_container h3 {
    margin-top: 25px;
    text-align: center;
    color: #cf7600;
    font-size: 18px;
}

.skills_container p {
    color: #515a69;
    font-size: 16px;
    margin-bottom: 70px;

}


.cases_container {
    display: block;
    padding-top: 110px;
    padding-bottom: 128px;
}

.cases_container {}

.cases_container h2 {
    text-align: center;
    width: 214px;
    font-size: 33px;
    margin: 0px auto 30px;
    padding-bottom: 5px;
    text-transform: uppercase;


}

.cases_container hr {
    height: 4px;
    border: none;
    background: #d17700;
    width: 80px;
    margin: 0 auto 40px;
    opacity: 1;

}

.cases_container {
    text-align: center;
    font-size: 16px;
    margin-bottom: 40px;
    font-family: Montserrat, Arial, sans-serif;

}

.cases_container img {
    width: 70%;
    margin-bottom: 60px;

}

.description_left {}

.description_left h3 {
    font-size: 25px;
    text-align: left;
}

.description_left p {
    font-size: 17px;
    margin: 16px 0;
    text-align: left;
}

.description_left a,
.calculator_footer button {
    margin-top: 25px;
    display: block;
    width: 100%;
    background: #63b5ae;
    height: 44px;
    line-height: 44px;
    text-align: center;
    color: white;
    font-size: 20px;
    border-radius: 8px;
    text-decoration: none;
    text-transform: uppercase;

}

.description_right h4 {
    padding-left: 10%;
    font-size: 25px;
    margin-bottom: 10px;

}

.description_right p {
    padding-left: 10%;
    font-size: 20px;
    text-align: left;
}

.calculator {
    padding-bottom: 62px;
    margin-top: 130px;

}

.calculator_container {
    width: 100%;
    -webkit-box-shadow: 0 0 8px 0 rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0 0 8px 0 rgba(34, 60, 80, 0.2);
    box-shadow: 0 0 8px 0 rgba(34, 60, 80, 0.2);
    padding-top: 63px;
    padding-bottom: 90px;
}

.calculator_container h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 33px;
}

.calculator_container h3 {
    text-transform: uppercase;
    font-size: 20px;
    padding-top: 55px;

}

#typesite {
    display: block;
    width: 100%;
    height: 60px;
    color: #737373;
    background-color: #eee;
    border-radius: 8px;
    margin: 23px auto 0 auto;
    padding-left: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 18px;
}



.days,
.price {
    margin-bottom: 0;
    font-size: 21px;

}

.calculator_footer p {
    margin-bottom: 0;
}

.calculator_footer .digit {
    font-size: 29px;
    float: right;
}

.results {
    background: url(../img/results.png) center/cover no-repeat;
    width: 100%;
    background-attachment: fixed;
    font-family: Montserrat, Arial, sans-serif;


}

.results_container {
    padding-bottom: 50px;
}

.results_container h2 {
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 70px;
}

.results_container hr {
    height: 4px;
    border: none;
    background: #d17700;
    width: 80px;
    margin: 0 auto 80px;
    opacity: 1;

}

.results_container h3 {
    margin-top: 25px;
    text-align: center;
    color: black;
    font-size: 18px;
    font-weight: bolder;
}

.comments_container h2 {
    padding-bottom: 140px;
}

.comments_container h2 {
    text-align: center;
    max-width: 390px;
    font-size: 33px;
    margin: 0px auto 30px;
    padding-bottom: 5px;
    text-transform: uppercase;
    padding-top: 100px;
}

.comments_container hr {
    height: 4px;
    border: none;
    background: #d17700;
    width: 80px;
    margin: 0 auto 60px;
    opacity: 1;

}

.comments {
    text-align: center;
}

.comment img {
    margin-bottom: 36px;
}

.comments_text {
    font-size: 17px;
    line-height: 24px;
    margin-bottom: 36px;
}

.comments_author {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 100px;
}

.comments_author span {
    font-weight: 800;
}

.contacts {
    background: url(../img/backside.png) center/cover no-repeat;
    color: white;
}

.contacts_container {
    padding-bottom: 68px;
}

.contacts_container h2 {
    text-align: center;
    max-width: 390px;
    font-size: 33px;
    margin: 0px auto 30px;
    padding-bottom: 5px;
    text-transform: uppercase;
    padding-top: 100px;
}

.contacts_container hr {
    height: 4px;
    border: none;
    background: #d17700;
    width: 80px;
    margin: 0 auto 32px;
    opacity: 1;

}

.contacts_subscription {
    text-align: center;
    font-size: 16px;
    margin-bottom: 48px;
}

.contacts_data_item {}

.contacts_data_item img {
    height: 24px;
    margin-bottom: 16px;

}

.contacts_data_item p {
    font-size: 16px;
}

.contacts_container h3 {
    margin-top: 40px;
    text-align: center;
    margin-bottom: 46px;
    font-size: 21px;
    text-transform: uppercase;
}

.contacts_inputs input {
    height: 34px;
    margin-bottom: 14px;
    background: rgba(210, 214, 220, 0.93);
    font-size: 16px;
    width: 100%;
    padding-left: 15px;
}

.contacts_inputs .secondInput {
    float: right;
}

.contacts_container textarea {
    display: block;
    width: 100%;
    resize: none;
    padding-top: 10px;
    padding-left: 15px;
    background: rgba(220, 224, 230, 0.93);
    font-size: 16px;
    margin-bottom: 30px;
}

.contacts_container input[type="submit"] {
    display: block;
    margin: 0 auto;
    background: none;
    color: white;
    border: 2px solid white;
    height: 46px;
    width: 124px;
    border-radius: 8px;
    font-size: 20px;
    margin-bottom: 76px;
}

.contacts_social {}

.contacts_social a {
    display: inline-block;

    margin: 0 auto;
}

.contacts_social img {
    height: 30px;
}

.map img {
    display: block;
    width: 100%;
}

.footer {
    background: #354051;
    height: 94px;
}

.footer_container {
    text-align: center;
    line-height: 94px;
    color: white;
}

@media (max-width: 991px) {

    .title__container,
    .title__container h4,
    .title__container input {
        color: white;
    }

    .main {
        position: relative;
    }

    .main:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.6);
        z-index: 1;
    }

    .title__container {
        position: relative;
        z-index: 2;
    }
}
